extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut leo massa. Suspendisse posuere enim eget dolor rutrum, et finibus sem dictum. Curabitur at pellentesque purus. Praesent cursus quis libero in blandit. Sed molestie velit ipsum, ac tincidunt nunc eleifend a. Ut in sodales turpis. Nullam enim tellus, semper in tellus eget, faucibus facilisis erat.

                p Aliquam erat volutpat. Integer vel nibh venenatis, euismod risus et, consequat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque quis lacinia neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet sapien efficitur, pellentesque ipsum vel, sollicitudin est.

                p Mauris velit ante, sodales non ullamcorper nec, facilisis a dolor. Suspendisse hendrerit finibus eros eget consectetur. Quisque venenatis turpis id libero blandit, at placerat nulla dictum. Morbi quis urna ac eros lobortis fermentum vitae eget turpis. Ut efficitur eros eget est hendrerit, id congue tellus porta.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac congue risus. Duis quis mi a purus tincidunt ultricies vitae non libero. Nullam mollis sollicitudin leo, vitae placerat justo vestibulum feugiat.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac congue risus. Duis quis mi a purus tincidunt ultricies vitae non libero. Nullam mollis sollicitudin leo, vitae placerat justo vestibulum feugiat.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac congue risus. Duis quis mi a purus tincidunt ultricies vitae non libero. Nullam mollis sollicitudin leo, vitae placerat justo vestibulum feugiat.